<mapper namespace="User">


    <select id="findAll" resultType="com.waiting.User">
        select * from User
    </select>

    <select id="findByCondition" parameterType="com.waiting.User" resultType="com.waiting.User">
        select * from user where id = #{id} and username = #{username}
    </select>

</mapper>
